/* GLOBAL */

body {
        background:#f0f0f0;
        font-family: sans-serif;
        color:#333333;
}

p {
        margin:5px 0;
        line-height:25px;
}

a {
        text-decoration:none;
        color:inherit;
        transition: color .5s ease;
}

b {
		font-weight: bold;
}

/* HEADER AND NAVIGATION */

header {
        position:relative;
        width:auto;
		background:#dddddd;
        margin: 0 auto 0px auto;
}

header h1 {
        margin:0;
        font-size:30px;
        color:#333333;
        font-family: sans-serif;
		padding: 10px 0px 5px 15px;
}

#heading {
		border-bottom:5px solid #4aa725;
}

nav {
        position:absolute;
        right:0;
        bottom:0;
		border-bottom: 5px solid #555555;
}

nav ul {
        list-style:none;
		padding-bottom: 20px;
}

nav ul li {
        display: block;
        float: left;
		width: 120px;
}

nav ul li.events a {
		background:#d7d7d7;
}

nav ul li.about a {
		background:#d0d0d0;
}

nav ul li.blog a {
		background:#c9c9c9;
}

nav ul li.login a, nav ul li.logout a {
		background:#c2c2c2;
}

nav ul li a {
        font-family: 'Open Sans', sans-serif;
        transition: all .25s ease;
		font-weight: bold;
		padding: 50px 75px 4px 10px;
}

nav ul li a:hover {
        color:#E56038;
}

#mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
}

#mobileMenu ul li {
        display:block;
        background-color: #d7d7d7;
        color: #333333;
        padding: 12px 0;
        letter-spacing: 0.1em;
		font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #555555;
		text-transform: uppercase;
}

.toggleMobile {
        display: none;
}

/* TWO COLUMNS */

#text_columns {
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        max-width:1400px;
        margin:0 auto;
}

#text_columns h3 {
        font-size:25px;
        border-bottom: 1px solid #D6D0C1;
        padding: 20px 0;
        margin-bottom: 20px;
}

#text_columns h4 {
        font-size: 18px;
		padding-top: 15px;
        margin-bottom: 0px;
}	

#text_columns .blogPicture {
		height: 200px;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
}

#text_columns article.column1, #text_columns .column2 {
        margin: 20px 0;
        font-size:14px;
        float:left;
        width:auto;
        max-width: 685px;
}

#text_columns article.column1 .blogText a {
		float: right;
		font-weight: bold;
}

#text_columns .column2 {
        position:relative;
        margin: 20px 0 0 12px;
        float:right;
        width:auto;
}

.blogText {
		background: #ffffff;
		padding: 0px 10px 15px 10px;
		margin-bottom: 20px;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		position: relative;
}

.blogText a {
		position:absolute;
		bottom:0;
		right:0;
		font-weight: bold;
		margin: 0px 10px 5px 0px;
	
}

#viewAll {
		width: auto;
		height: 30px;
		background: #4aa725;
		max-width: 685px;
		margin: 0px auto;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
}

article.column1 #viewAll {
		text-align: center;
		color: #ffffff;
		font-weight: bold;
		padding: 10px 10px 5px 10px;
}

/* EVENTS */

#upcomingEvents {
		width: auto;
		background: #4aa725;
		max-width: 685px;
		margin: 0px auto;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
}

#upcomingEvents h2 {
		font-size:20px;
        padding: 10px 0px 10px 10px;
		color: #ffffff;
		font-weight: bold;	
}

#upcomingEvents h2.comments {
		font-size:20px;
        padding: 10px 572px 10px 10px;
		color: #ffffff;
		font-weight: bold;	
}

#upcomingEvents h2.approved {
		font-size:20px;
        padding: 10px 400px 10px 10px;
		color: #ffffff;
		font-weight: bold;
}

#addEvents {
		width: auto;
		background: #4aa725;
		max-width: 685px;
		margin: 0px auto 10px auto;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
}

article.column1 #addEvents {
		text-align: center;
		color: #ffffff;
		font-weight: bold;
		padding: 10px 10px 5px 10px;
}

#text_columns .event .eventText {
		width: 60%;
		height: 170px;
		float: left;
		background: #ffffff;
		padding: 0px 10px;
		margin-bottom: 20px;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		position: relative;
}

#text_columns .event .eventText h3 {
		font-size:20px;
        border-bottom: 0px;
        padding: 20px 0px 0px 0px;
		margin-bottom: 5px;
		font-weight: bold;
}

#text_columns .event .eventText a {
		position:absolute;
		bottom:0;
		right:0;
		font-weight: bold;
		margin: 0px 10px 5px 0px;
}

#text_columns .event .eventPicture {
		width: 37%;
		height: 170px;
		float: left;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
}

#memberList ul {
	height: 150px;
	width: 100%;
	overflow:hidden; 
	overflow-y:scroll;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

/* FORMS */

.formStyle {
		width: 625px;
		padding: 30px;
		background: #FFFFFF;
		margin: 0px auto 20px auto;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		-moz-box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
		box-shadow: 0px 2px 1px 1px rgba(191,191,191,1);
}

.formStyle h2{
		background: #4aa725;
		color: #ffffff;
		font-size: 18px;
		font-weight: bold;
		padding: 20px;
		margin: -30px -30px 30px -30px;
}

.formStyle input[type="text"], 
.formStyle input[type="password"], 
.formStyle input[type="email"],
.formStyle input[type="date"] {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		outline: none;
		display: block;
		width: 100%;
		padding: 7px;
		border: none;
		border-bottom: 1px solid #ddd;
		background: transparent;
		margin-bottom: 10px;
		font: 16px Arial, Helvetica, sans-serif;
		height: 45px;
}

.formStyle textarea  {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		outline: none;
		display: block;
		width: 100%;
		padding: 7px;
		border: none;
		border-bottom: 1px solid #ddd;
		background: transparent;
		margin-bottom: 10px;
		font: 16px Arial, Helvetica, sans-serif;
		height: 75px;
}

.formStyle input[type="submit"] {
		-moz-box-shadow: inset 0px 1px 0px 0px #6cd742;
		-webkit-box-shadow: inset 0px 1px 0px 0px #6cd742;
		box-shadow: inset 0px 1px 0px 0px #6cd742;
		background-color: #4aa725;
		border: 1px solid #255412;
		display: inline-block;
		color: #FFFFFF;
		font-size: 16px;
		font-weight: bold;
		padding: 15px 18px;
		width: 100%;
}

.formStyle input[type="submit"]:hover {
		background:linear-gradient(to bottom, #52bd28 5%, #50ba23 100%);
		background-color:#52bd28;
}


/* FOOTER */

footer {
       position:relative;
       clear:both;
       width:auto;   
}

footer .wrapper {
        line-height:25px;
        margin: 0 auto;
        padding-top:30px;
        width:auto;
        max-width:1400px;
        font-size:14px;
}

#copyright {
        background: #1D1D1D;
        height:70px;
}
#copyright .wrapper {
        font-family: 'Open Sans', sans-serif;
        padding-top: 25px;
        color: #5e5e5e;
        font-size:14px;
}

#copyright .wrapper a {
        color: #ABABAB;
}

#copyright .wrapper a:hover {
        color: #fff;
}

/* MISC */
.clear {
    clear: both;
}

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1400px)
{
	#text_columns article.column1 {
			float:none;
			max-width: 685px;
			margin: 20px auto 0 auto;
	}

	#text_columns article.column2 {
			float:none;
			width: auto;
			max-width: 685px;
			margin: 20px auto 35px auto;
	}
	footer .wrapper	{
			max-width: 685px;
	}
	
	#upcomingEvents h2 {
        padding: 10px 0px 10px 10px;
	}
}

@media (max-width: 765px)
{
	#heading {
		border-bottom: 0px solid #80DB5C;
	}
	header {
			height:80px;
			border-bottom:5px solid #4aa725;
	}
	header nav {
			right: auto;
			bottom: auto;
			left: 50%;
			top:50px;
			margin-left: -240px;
	}
	nav ul li a {
			padding: 5px 75px 4px 10px;
	}
	#text_columns {
			padding: 0 5px;
	}
	#text_columns .blogPicture {
			display: none;
	}
	#text_columns .event .eventText {
			width: auto;
			max-width: 665px;
	}
	#text_columns .event .eventPicture {
			display: none;
	}
	.formStyle {
			width: 460px;
	}
	footer {
			height: auto;
	}
	footer .wrapper	{
			width: 350px;
			margin: 0 auto;
			padding-left: 5px;
	}
	#upcomingEvents h2.approved {
			font-size:20px;
			padding: 10px 10px 10px 10px;
			color: #ffffff;
			font-weight: bold;
	}
}

@media (max-width: 500px)
{
	header {
		text-align: center;
		border-bottom:5px solid #4aa725;
	}
	#heading {
		padding-top: 20px;
	}
	nav {
		margin: 5px 0 0 0;
	}
	nav ul li {
        display: block;
        float: left;
		width: 100px;
	}
	nav ul li a {
		padding: 0px 65px 4px 10px;
	}
	nav ul li.login a {
		padding: 0px 46px 4px 10px;
	}
	footer .wrapper {
			width:auto;
	}
	footer .wrapper .column {
			margin: 0 auto 15px auto;
			max-width:300px;
	}
	#mobileMenu {
			display: block;
			z-index: 99;
	}
	.toggleMobile {
			position: fixed;
			top: 25px;
			left: 10px;
			display: block;
			width: 40px;
			height: 36px;
			cursor: pointer;
			z-index: 999;
	}
	.toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3 {
			display: block;
			position: absolute;
			width: 40px;
			height: 8px;
			left: 0;
			background: #4aa725;
			-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
			transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	.toggleMobile span.menu1 {
			top: 0;
	}
	.toggleMobile span.menu2 {
			top: 14px;
	}
	.toggleMobile span.menu3 {
			top: 28px;
	}
	.toggleMobile.active span.menu1 {
			top: 14px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
			transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	.toggleMobile.active span.menu2 {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
			transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	.toggleMobile.active span.menu3 {
			opacity: 0;
			-webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
			transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	}
	header nav {
			display:none;
	}
	#text_columns {
			padding: 0 5px;
	}
	.formStyle {
			width: 290px;
	}
	#upcomingEvents h2.approved {
			font-size:20px;
			padding: 10px 10px 10px 10px;
			color: #ffffff;
			font-weight: bold;
	}
	
}

/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
  0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
  0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}